.footer {
  background-color: $very-dark-violet;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 20px;
  &__logo {
    @include breakpoint-down(medium) {
      margin: 40px 0;
    }
    @include breakpoint-up(large) {
      margin-right: 200px;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    padding: 15px;
    @include breakpoint-down(medium) {
      text-align: center;
    }
    @include breakpoint-up(large) {
      padding-top: 0;
      margin-right: 40px;
    }
  }
  &__link {
    color: $gray;
    transition: color 0.2s ease-in-out;
    max-width: max-content;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &:hover {
      color: $cyan;
    }
  }
  &__link-title {
    color: $white;
    font-size: 18px;
    margin-bottom: 30px;
  }
  &__socials {
    padding: 15px 0;
    > a {
      font-size: 26px;
      color: #fff;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: hsl(180, 66%, 49%);
      }
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
    @include breakpoint-up(large) {
      padding: 0;
    }
  }
  > span {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    color: $white;
    text-align: center;
    font-weight: $font-sm;
    font-size: 14px;
    margin: 10px 0;
    > a {
      color: $white;
      font-weight: $font-lg;
    }
  }
  @include breakpoint-up(large) {
    flex-direction: row;
    align-items: flex-start;
    padding: 50px 0;
  }
}
