@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  font-weight: $font-sm;
  font-size: $font-size;
  &.no-scroll {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: $black;
}

ul {
  list-style: none;
}

button {
  color: $white;
  font-weight: $font-lg;
  outline: none;
  border: none;
  padding: 8px 20px;
  background: $cyan;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 0.5;
  }
}

.spacing {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  @include breakpoint-up(medium) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include breakpoint-up(large) {
    padding-left: 100px;
    padding-right: 100px;
  }
  @include breakpoint-up(xlarge) {
    padding-left: 200px;
    padding-right: 200px;
  }
}
