@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  font-weight: $font-sm;
  font-size: $font-size;
}

a {
  text-decoration: none;
  color: $black;
}

button {
  color: $white;
  font-weight: $font-lg;
  outline: none;
  border: none;
  padding: 8px 20px;
  background: $cyan;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 0.5;
  }
}
