.header {
  padding: 35px $page-padding;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__hamburger {
    width: 20px;
    display: none;
    cursor: pointer;
    z-index: 2;
    > span {
      width: 100%;
      height: 3px;
      background-color: $grayish-violet;
      transform-origin: -5% 45%;
      transition: 0.3s ease-in-out;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
    &.--active {
      > span:nth-child(1) {
        transform: rotateZ(45deg);
      }
      > span:nth-child(2) {
        transform: translateY(-5px);
        opacity: 0;
      }
      > span:nth-child(3) {
        transform: rotateZ(-45deg);
      }
    }
  }

  &__left-side,
  &__right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__links a {
    color: $grayish-violet;
    font-weight: $font-lg;
    font-size: 16px;
    transition: 0.2s color ease-in-out;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover {
      color: $very-dark-blue;
    }
  }
  &__logo {
    margin-right: 40px;
  }

  &__button {
    border-radius: 25px;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 5px;
    }
    &.sign-in {
      color: $grayish-violet;
      background: none;
    }
  }
  @include breakpoint-down(medium) {
    padding: 35px 25px;
    &__links a,
    &__button {
      display: none;
    }
    &__hamburger {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}

.hamburger__menu {
  display: none;
  background-color: $white;
  position: absolute;
  padding: 25px;
  padding-top: 75px;
  top: 0;
  right: -100%;
  bottom: 0;
  min-width: 40vw;
  z-index: 1;
  &.--active {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slide 0.3s ease-in-out forwards;
    @include breakpoint-up(large) {
      display: none;
    }
  }
  &__link {
    color: $very-dark-violet;
    font-size: 25px;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
  @include breakpoint-down(small) {
    width: 100vw;
  }
}

@keyframes slide {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
