.info-section {
  background-color: hsl(228, 20%, 95%);
  margin-top: 50px;
  padding-bottom: 50px;
  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 30px;
    margin-top: -60px;
  }
  &__title {
    font-weight: $font-lg;
    font-size: 30px;
    color: $very-dark-violet;
    text-align: center;
    margin: 15px 0;
    margin-top: 25px;
  }
  &__text {
    font-weight: $font-lg;
    font-size: $font-size;
    color: $gray;
    text-align: center;
    line-height: 1.5;
    max-width: 500px;
  }
  &__grid {
    display: grid;
    grid-template-rows: repeat(17, 60px);
    position: relative;
    gap: 25px;
    padding-bottom: 100px;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 80%;
      background-color: $cyan;
    }
    @include breakpoint-up(large) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(7, 40px);
      &::before {
        height: 8px;
        width: 80%;
      }
    }
    @include breakpoint-down(medium) {
      padding-bottom: 0;
    }
  }
  &__box {
    background-color: $white;
    border-radius: 5px;
    padding: 60px 30px 0 30px;
    position: relative;
    &__icon {
      position: absolute;
      width: 80px;
      height: 80px;
      left: 50%;
      top: -40px;
      transform: translateX(-50%);
      background-color: $very-dark-violet;
      border-radius: 50%;
      > img {
        position: absolute;
        left: 50%;
        top: 18px;
        transform: translateX(-50%);
      }
      @include breakpoint-up(large) {
        left: 70px;
      }
    }
    &__title {
      font-weight: $font-lg;
      font-size: 25px;
      color: $very-dark-violet;
      text-align: center;
      margin-bottom: 15px;
    }
    &__text {
      font-weight: $font-lg;
      font-size: 16px;
      color: $gray;
      text-align: center;
      line-height: 1.5;
    }
    &:nth-child(1) {
      grid-row: 1 / span 4;
    }
    &:nth-child(2) {
      grid-row: 7 / span 4;
    }
    &:nth-child(3) {
      grid-row: 13 / span 4;
    }
    @include breakpoint-up(large) {
      &:nth-child(1) {
        grid-row: 1 / span 5;
      }
      &:nth-child(2) {
        grid-row: 2 / span 5;
      }
      &:nth-child(3) {
        grid-row: 3 / span 5;
      }
    }
  }
  @include breakpoint-down(medium) {
    padding: 0 25px;
  }
  @include breakpoint-up(large) {
    padding: 0 $page-padding;
  }
}
