.shortener {
  transform: translateY(-50%);
  box-sizing: content-box;
  padding: 35px;
  background-color: $dark-violet;
  min-height: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("./images/bg-shorten-desktop.svg") no-repeat;
  }
  @include breakpoint-down(medium) {
    padding: 25px;
  }
  &__input,
  &__button {
    border-radius: 5px;
    outline: none;
    border: none;
    z-index: 1;
  }
  &__input {
    padding: 15px;
    margin-right: 15px;
    flex: 1;
    &.--error {
      border: 3px solid rgba($red, 0.75);
    }
    &::placeholder {
      font-size: $font-size;
      font-family: $main-font;
      font-weight: $font-lg;
      color: $gray;
    }
    &:focus {
      border: 3px solid $cyan;
    }
    @include breakpoint-down(medium) {
      margin: 0 0 15px 0;
    }
  }
  &__button {
    padding: 15px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 200px;
    &.--list {
      flex-basis: 0;
      padding: 10px 30px;
      border-radius: 5px;
      flex: 1;
    }
    &.--copied {
      background-color: $dark-violet;
    }
  }
  &__error {
    color: $red;
    font-size: 14px;
    position: absolute;
    bottom: 12px;
    font-style: italic;
    @include breakpoint-down(medium) {
      bottom: 7px;
    }
  }
  @include breakpoint-down(medium) {
    flex-direction: column;
    &__button {
      flex-basis: 0;
    }
  }
  &__right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @include breakpoint-down(medium) {
      flex-wrap: wrap;
      width: 100%;
      margin-top: 10px;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    transform: translateY(-50px);
    @include breakpoint-down(medium) {
      transform: translateY(-65px);
    }
  }
  &__link-box {
    background-color: $white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    &:not(:first-child) {
      margin-top: 15px;
    }
    @include breakpoint-down(medium) {
      flex-direction: column;
    }
  }
  &__link__shorten {
    flex: 3;
    color: $cyan;
    font-weight: $font-lg;
    font-size: 16px;
    margin-right: 20px;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
  &__link {
    color: $black;
    font-weight: $font-sm;
    font-size: 16px;
    word-break: break-word;
    @include breakpoint-down(medium) {
      width: 100%;
    }
  }
}
