// - Red: hsl(0, 87%, 67%)
//colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
$very-dark-violet: hsl(260, 8%, 14%);
$very-dark-blue: hsl(255, 11%, 22%);
//font
$main-font: "Poppins", sans-serif;
$font-size: 18px;
$font-lg: 700;
$font-sm: 500;

//other
$page-padding: 100px;
