@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

button {
  color: white;
  font-weight: 700;
  outline: none;
  border: none;
  padding: 8px 20px;
  background: #2acfcf;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

button:hover {
  opacity: 0.5;
}

.header {
  padding: 35px 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__hamburger {
  width: 20px;
  display: none;
  cursor: pointer;
  z-index: 2;
}

.header__hamburger > span {
  width: 100%;
  height: 3px;
  background-color: #9e9aa7;
  -webkit-transform-origin: -5% 45%;
          transform-origin: -5% 45%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header__hamburger > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__hamburger.--active > span:nth-child(1) {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.header__hamburger.--active > span:nth-child(2) {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  opacity: 0;
}

.header__hamburger.--active > span:nth-child(3) {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.header__left-side, .header__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__links a {
  color: #9e9aa7;
  font-weight: 700;
  font-size: 16px;
  -webkit-transition: 0.2s color ease-in-out;
  transition: 0.2s color ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 20px;
}

.header__links a:hover {
  color: #35323e;
}

.header__logo {
  margin-right: 40px;
}

.header__button {
  border-radius: 25px;
  cursor: pointer;
}

.header__button:not(:last-child) {
  margin-right: 5px;
}

.header__button.sign-in {
  color: #9e9aa7;
  background: none;
}

@media (max-width: 1023px) {
  .header {
    padding: 35px 25px;
  }
  .header__links a, .header__button {
    display: none;
  }
  .header__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hamburger__menu {
  display: none;
  background-color: white;
  position: absolute;
  padding: 25px;
  padding-top: 75px;
  top: 0;
  right: -100%;
  bottom: 0;
  min-width: 40vw;
  z-index: 1;
}

.hamburger__menu.--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: slide 0.3s ease-in-out forwards;
          animation: slide 0.3s ease-in-out forwards;
}

.hamburger__menu__link {
  color: #232127;
  font-size: 25px;
}

.hamburger__menu__link:not(:last-child) {
  margin-bottom: 25px;
}

@media (max-width: 639px) {
  .hamburger__menu {
    width: 100vw;
  }
}

@-webkit-keyframes slide {
  from {
    -webkit-box-shadow: 0px 0px 0px 10000px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 10000px rgba(0, 0, 0, 0);
    right: -100%;
  }
  to {
    -webkit-box-shadow: 0px 0px 0px 10000px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 0px 10000px rgba(0, 0, 0, 0.5);
    right: 0;
  }
}

@keyframes slide {
  from {
    -webkit-box-shadow: 0px 0px 0px 10000px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 10000px rgba(0, 0, 0, 0);
    right: -100%;
  }
  to {
    -webkit-box-shadow: 0px 0px 0px 10000px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 0px 10000px rgba(0, 0, 0, 0.5);
    right: 0;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 55px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__picture {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  min-height: 500px;
  max-width: 600px;
  position: relative;
  overflow: hidden;
}

.hero__picture::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-repeat: no-repeat;
  background-image: url("./images/illustration-working.svg");
}

@media (min-width: 640px) {
  .hero__picture {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 1023px) {
  .hero__picture {
    padding-left: 25px;
  }
}

.hero__details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
}

@media (max-width: 639px) {
  .hero__details {
    padding: 10px;
  }
}

.hero__title {
  font-weight: 700;
  font-size: 50px;
  color: #232127;
  line-height: 1;
  margin-bottom: 20px;
}

@media (max-width: 639px) {
  .hero__title {
    text-align: center;
  }
}

.hero__text {
  font-weight: 700;
  font-size: 20px;
  color: #bfbfbf;
  line-height: 1.5;
  margin-bottom: 30px;
}

@media (max-width: 639px) {
  .hero__text {
    text-align: center;
  }
}

.hero__button {
  border-radius: 25px;
  font-size: 15px;
  padding: 15px 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (max-width: 639px) {
  .hero__button {
    margin: 0 auto;
    margin-bottom: 55px;
  }
}

@media (min-width: 640px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1023px) {
  .hero {
    padding: 0 0 55px 25px;
  }
}

@media (max-width: 639px) {
  .hero {
    padding: 0 0 55px 0;
  }
}

.shortener {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 35px;
  background-color: #3b3054;
  min-height: 50px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.shortener::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("./images/bg-shorten-desktop.svg") no-repeat;
}

.shortener__input, .shortener__button {
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 1;
}

.shortener__input {
  padding: 15px;
  margin-right: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.shortener__input.--error {
  border: 3px solid rgba(244, 98, 98, 0.75);
}

.shortener__input::-webkit-input-placeholder {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #bfbfbf;
}

.shortener__input:-ms-input-placeholder {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #bfbfbf;
}

.shortener__input::-ms-input-placeholder {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #bfbfbf;
}

.shortener__input::placeholder {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #bfbfbf;
}

.shortener__input:focus {
  border: 3px solid #2acfcf;
}

@media (max-width: 1023px) {
  .shortener__input {
    margin: 0 0 15px 0;
  }
}

.shortener__button {
  padding: 15px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
}

.shortener__button.--list {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  padding: 10px 30px;
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.shortener__button.--copied {
  background-color: #3b3054;
}

.shortener__error {
  height: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  color: #f46262;
  font-size: 14px;
  font-style: italic;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  z-index: 1;
}

@media (max-width: 639px) {
  .shortener__error {
    font-size: 10px;
  }
}

@media (max-width: 1023px) {
  .shortener {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .shortener__button {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
}

@media (max-width: 1023px) {
  .shortener {
    padding: 25px;
  }
}

.shortener__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1023px) {
  .shortener__right-side {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
  }
}

.shortener__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

@media (max-width: 1023px) {
  .shortener__links {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
  }
}

.shortener__link-box {
  background-color: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 25px;
}

.shortener__link-box:not(:first-child) {
  margin-top: 15px;
}

@media (max-width: 1023px) {
  .shortener__link-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.shortener__link__shorten {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  color: #2acfcf;
  font-weight: 700;
  font-size: 16px;
  margin-right: 20px;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.shortener__link__shorten:hover {
  opacity: 0.5;
}

.shortener__link {
  color: black;
  font-weight: 500;
  font-size: 16px;
  word-break: break-word;
}

@media (max-width: 1023px) {
  .shortener__link {
    width: 100%;
  }
}

.advanced-statistics {
  background-color: #f0f1f5;
  margin-top: 50px;
  padding-bottom: 50px;
}

.advanced-statistics__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  margin-bottom: 30px;
  margin-top: -60px;
}

.advanced-statistics__title {
  font-weight: 700;
  font-size: 30px;
  color: #232127;
  text-align: center;
  margin: 15px 0;
  margin-top: 25px;
}

.advanced-statistics__text {
  font-weight: 700;
  font-size: 18px;
  color: #bfbfbf;
  text-align: center;
  line-height: 1.5;
  max-width: 500px;
  margin-bottom: 15px;
}

.advanced-statistics__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (60px)[17];
      grid-template-rows: repeat(17, 60px);
  position: relative;
  gap: 25px;
  padding-bottom: 100px;
}

.advanced-statistics__grid::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 8px;
  height: 80%;
  background-color: #2acfcf;
}

@media (min-width: 1024px) {
  .advanced-statistics__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (40px)[7];
        grid-template-rows: repeat(7, 40px);
  }
  .advanced-statistics__grid::before {
    height: 8px;
    width: 80%;
  }
}

@media (max-width: 1023px) {
  .advanced-statistics__grid {
    padding-bottom: 0;
  }
}

.advanced-statistics__box {
  background-color: white;
  border-radius: 5px;
  padding: 60px 30px 0 30px;
  position: relative;
}

.advanced-statistics__box__icon {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: -40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #232127;
  border-radius: 50%;
}

.advanced-statistics__box__icon > img {
  position: absolute;
  left: 50%;
  top: 18px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 1024px) {
  .advanced-statistics__box__icon {
    left: 70px;
  }
}

.advanced-statistics__box__title {
  font-weight: 700;
  font-size: 25px;
  color: #232127;
  text-align: center;
  margin-bottom: 15px;
}

.advanced-statistics__box__text {
  font-weight: 700;
  font-size: 16px;
  color: #bfbfbf;
  text-align: center;
  line-height: 1.5;
}

.advanced-statistics__box:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / span 4;
}

.advanced-statistics__box:nth-child(2) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 4;
  grid-row: 7 / span 4;
}

.advanced-statistics__box:nth-child(3) {
  -ms-grid-row: 13;
  -ms-grid-row-span: 4;
  grid-row: 13 / span 4;
}

@media (min-width: 1024px) {
  .advanced-statistics__box:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1 / span 5;
  }
  .advanced-statistics__box:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 5;
    grid-row: 2 / span 5;
  }
  .advanced-statistics__box:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 5;
    grid-row: 3 / span 5;
  }
}

@media (max-width: 1023px) {
  .advanced-statistics {
    padding: 0 25px;
  }
}

@media (min-width: 1024px) {
  .advanced-statistics {
    padding: 0 100px;
  }
}

.get-started {
  width: 100%;
  padding: 70px 0;
  background-color: #3b3054;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.get-started::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("./images/bg-boost-desktop.svg") no-repeat;
}

.get-started__title, .get-started__button {
  z-index: 1;
}

.get-started__title {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.get-started__button {
  border-radius: 25px;
  padding: 15px 35px;
}

.footer {
  background-color: #232127;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 20px;
}

@media (max-width: 1023px) {
  .footer__logo {
    margin: 40px 0;
  }
}

@media (min-width: 1024px) {
  .footer__logo {
    margin-right: 200px;
  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

@media (max-width: 1023px) {
  .footer__links {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .footer__links {
    padding-top: 0;
    margin-right: 40px;
  }
}

.footer__link {
  color: #bfbfbf;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.footer__link:not(:last-child) {
  margin-bottom: 20px;
}

.footer__link:hover {
  color: #2acfcf;
}

.footer__link-title {
  color: white;
  font-size: 18px;
  margin-bottom: 30px;
}

.footer__socials {
  padding: 15px 0;
}

.footer__socials > a {
  font-size: 26px;
}

.footer__socials > a:not(:last-child) {
  margin-right: 15px;
}

@media (min-width: 1024px) {
  .footer__socials {
    padding: 0;
  }
}

.footer > span {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  margin: 10px 0;
}

.footer > span > a {
  color: white;
  font-weight: 700;
}

@media (min-width: 1024px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 50px 0;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}
/*# sourceMappingURL=main.css.map */